ion-input{
    --background: #3dc2ff!important;
    --placeholder-color: white!important;
    border: black solid 1px;
    --color: white!important
}

ion-item.map{
    display: flex!important;
    justify-content: center!important;
    text-align: center!important;
}

svg{
    margin: auto;
}

circle.end{
    display: none;
}

ion-popover.error{
    --background: #eb445a;
}

ion-popover.error div.popover-wrapper div.popover-content{
    top: 94%!important;
    margin: auto;
    width: auto!important;
    padding: 10px;
}

ion-label{
    min-width: 202px!important;
    max-width: 202px!important;
}

ion-menu ion-list ion-item{
    cursor: pointer!important;
}

.centered{
    margin: auto;
}

text{
    font-size: 1.2rem;
    max-width: 100px!important;
}

ion-select{
    min-width: 45%!important;
    max-width: 45%!important;
}

ion-item.searchPoints{
    width: 100%;
}